.vscode/*
!.vscode/extensions.json

# backend
__pycache__
*.egg-info
*.py[cod]
.mypy_cache
.coverage
htmlcov
.cache
.venv
*.env
build/
dist/
*.log
coverage.xml
.coverage.*
.fastembed_cache
.database
.amdb
